*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(5, 1fr);
    min-height: 100vh;
    border-width: 1px;
    border-color: black;
}

.sidebar {
  grid-row: 1 / 6;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.header {
  grid-column: 2;
  grid-row: 1/2;
  background-color: aqua;
}

.main-content {
  grid-column: 2;
  grid-row: 2/6;
  background-color: blue;
}

img{
  max-width: 3rem;
}

.navigation img, .support img{
    max-width: 1.5rem;
    margin-right: 1rem;
}

.logo, .navigation, .support{
  margin-bottom: 2em;
  color: white;
  font-size: 1.2em;
}

.navigation ul, .logo, .support ul{
    display: flex;
    align-items: center;
    margin: .75rem;
}

.white-icon{
    fill: white;
}