@import url('https://fonts.googleapis.com');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(5, 1fr);
    min-height: 100vh;
}

.sidebar {
  grid-row: 1 / 6;
  background-color: rgb(49, 145, 236);
  display: flex;
  flex-direction: column;
}

.header {
  grid-column: 2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 2fr;
  gap: 1rem;
  margin: 1rem;
  align-items: center;
}

.main-content {
  grid-column: 2;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1fr 1fr;
  padding: 1.5rem;
  gap: 1rem;
}

img{
  max-width: 3rem;
  margin-right: 1rem;
}

.navigation img, .support img, .search img{
    max-width: 1.5rem;
    margin-right: 1rem;
    color: white;
}

.logo, .navigation, .support{
  margin-bottom: 2em;
  color: white;
  font-size: 1.2em;
}

.navigation ul, .logo, .support ul{
    display: flex;
    align-items: center;
    margin: .75rem;
}

.white-icon{
    fill: white;
}

.search{
  display: flex;
  align-items: center;
}

.profile-picture{
  display: flex;
  background-color: aqua;
}

.greeting{
  background-color: bisque;
}

.buttons{
  background-color: purple;
}

.search-bar{
  background-color: #e5e7eb;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  width: 80%;
  height: 1.5rem;
}