*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(5, 1fr);
    min-height: 100vh;
    border-width: 1px;
    border-color: black;
}

.sidebar {
  grid-row: 1 / 6;
  background-color: red;
}

.header {
  grid-column: 2;
  grid-row: 1/2;
  background-color: aqua;
}

.main-content {
  grid-column: 2;
  grid-row: 2/6;
  background-color: blue;
}
