@import url('https://fonts.googleapis.com');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(5, 1fr);
    min-height: 100vh;
}

.sidebar {
  grid-row: 1 / 6;
  background-color: rgb(49, 145, 236);
  display: flex;
  flex-direction: column;
}

.header {
  grid-column: 2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 2fr;
  padding: 1.5em;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

img{
  max-width: 3rem;
  margin-right: 1rem;
}

.navigation img, .support img, .header img{
    max-width: 1.5rem;
    margin-right: 1rem;
}

.picture{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.logo, .navigation, .support{
  margin-bottom: 2em;
  color: white;
  font-size: 1.2em;
}

.navigation ul, .logo, .support ul{
    display: flex;
    align-items: center;
    margin: .75rem;
}

.search{
  display: flex;
  align-items: center;
}

.profile-picture{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.greeting{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.greeting img{
  height: 3rem;
  width: 3rem;
}

.search-bar{
  background-color: #e5e7eb;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  width: 80%;
  height: 1.5rem;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttons ul{
  padding: .5em 2em;
  background-color: rgb(49, 145, 236);
  border-radius: 999px;
  color: white;
}

img[src$=".svg"] {
  filter: invert(1) brightness(2);
}

img[src*="magnify"],  img[src*="bell-ring"], img[src*="source-fork"],
img[src*="star-plus-outline"], img[src*="eye-plus-outline"]{
  filter: none;
}

.main-content {
  grid-column: 2;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding: 1.5rem;
  gap: 1rem;
  background-color: #e5e7eb;
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}


.notifications{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.card{
  border-radius: 12px;
  padding: 1rem;
  border-left: 6px solid #f4b400;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3{
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.card-actions{
  display: flex;
  justify-content: flex-end;
}

.card-actions img{
  max-height: 1.5rem;
}

.announcements-card, .trending-card{
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
}

.announcement {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.announcement:last-child {
  border-bottom: none;
}

.announcement h4 {
  margin: 0 0 4px;
  font-size: 0.95rem;
}

.announcement p {
  margin: 0;
  font-size: 0.8rem;
  color: #555;
}


.trend-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.trend-item:last-child {
  margin-bottom: 0;
}

.trend-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.trend-item p {
  font-size: 0.8rem;
  color: #666;
}